.signUp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .formwWrap {
    .formControl {
      padding: 5px 0;

      label {
        display: block;
      }

      &.submitBtn {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
